/* .wrapper {
    padding-inline: 20px;
    border: 1px solid green;
} */

/* @media (width >= 50.625em) {
    .wrapper {
        padding-inline: 44px;
        margin: auto;
    }
} */

/* @media (width >= 1200px) {
    .wrapper {
        max-width: 1200px;
        align-self: center;
    }
} */

.wrapper.page-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* position: sticky;
    top: 0; */
    background-color: var(--white);
    padding: 1rem;
    border-bottom: 2px solid var(--blue-flag);
}
.wrapper.page-title > h1 {
    font-size: var(--fs-2);
    text-align: center;
    transition: all 50ms ease-in-out;
}
@media (width >= 62em) {
    .wrapper.page-title > h1 {
        font-size: var(--fs-1);
    }
}