header {
    position: fixed;
    width: 100%;
    background-color: var(--white);
    top: 0;
}
header > .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
@media (width < 640px) {
    header > .top {
        padding: 8px;
    }
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    line-height: 2rem;
}
.logo > img {
    width: 48px;
}
@media (width < 640px) {
    .logo {
        gap: 0.25rem;
    }
    .logo > img {
        width: 40px;
    }
}

header > .slogan {
    background-color: var(--grey-242);
    border-bottom: 1 solid var(--grey-ccc);
    padding: 12px;
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}
@media (width < 640px) {
    .title {
        font-size: 1.75rem;
    }
}
.title.blue {
    color: var(--blue-flag);
}
.title.red {
    color: var(--red-flag);
}

#btn-candidates {
    font-size: var(--fs-7);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background-color: var(--blue-flag);
    display: none;
}

@media (width < 640px) {
    #btn-candidates {
        display: inline-block;
    }
}