footer {
    background-color: var(--grey-242);
    padding: 4rem 0;
    color: var(--grey-42);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-sans);
    font-size: var(--fs-6);
}
footer .copyright {
    font-size: var(--fs-7);
}
footer ul {
    list-style-type: none;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}
footer li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}
footer li:not(:last-of-type) {
    border-right: 1px solid var(--grey-ccc);
}
footer li a {
    color: inherit;
    text-decoration: underline;
    padding: 0 1rem;
    /* margin: 0 1rem; */
    /* border-bottom: 1px solid var(--grey-42); */
}
